body, button, input, select, textarea {
    font: 16px/1.5 tahoma,arial,"\5b8b\4f53";
    -ms-overflow-style: scrollbar;
}

button {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    border: 0;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #FF0036;
    height: 30px;
    overflow: hidden;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}

#shopImg {
    border: 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}